@clock-size: 400px;
@center: ~"calc(50% - " (@clock-size/2) ~")";

@-webkit-keyframes revolution {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
    }
}


.clock {
    height: @clock-size;
    width: @clock-size;
    left: @center;
    position: absolute;
    top: ~"calc(50% - " @clock-size ~")";
}

.animated-clock {
    height: @clock-size;
    width: @clock-size;
    stroke-width: 2px;
    stroke: #fff;

    .hand {
        -webkit-animation-name: revolution;
        -webkit-animation-iteration-count: infinite;
        -webkit-animation-timing-function: linear;
        transform-origin: 50px 50px;
    }

    .seconds {
        -webkit-animation-duration: 60s;
        stroke-width: 0.5px;
    }

    .minutes {
        -webkit-animation-duration: 3600s; /* 60 * 60 */
        stroke-width: 1.5px;
    }

    .hours {
        -webkit-animation-duration: 43200s; /* 60 * 60 * 12 */
        stroke-width: 2px;
    }

    .dot {
        stroke: none;
    }
}

.date {
    color: #fff;
    font-size: 22px;
    text-align: center;
    margin-top: 16px;
}